@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Remove the arrow icons for number input in Firefox */
  .remove-numberInput-default::-webkit-inner-spin-button,
  .remove-numberInput-default::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-1
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-sky-500 to-violet-800 rounded
  }
  
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent  
  }

  .hide_scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar on Webkit browsers (Chrome, Safari, etc.) */
  }

  .react-pdf__Page{
    width: 100%;
    background-color: red;
  }

  /* .react-pdf__Page__canvas {
    width: 100% !important; 
    max-width: none !important; 
  } */
  