@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Remove the arrow icons for number input in Firefox */
  .remove-numberInput-default::-webkit-inner-spin-button,
  .remove-numberInput-default::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2 md:w-3 cursor-pointer
  }

  .scrollbar-horizontal::-webkit-scrollbar {
    @apply h-2
  }

  .scrollbar::-webkit-scrollbar-thumb,.scrollbar-horizontal::-webkit-scrollbar-thumb {
    @apply bg-blue-800 rounded
  }

  .scrollbar::-webkit-scrollbar-track,.scrollbar-horizontal::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  .hide_scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar on Webkit browsers (Chrome, Safari, etc.) */
  }

  .print-hidden {
    @media print {
      display: none;
    }
  }


  /* .react-pdf__Page{
    border-radius: 5% !important;
  } */

  .react-pdf__Page__canvas{
    border: 1rem solid transparent !important;
    background: linear-gradient(to right,  #ffbf33, #ffae19, #ff9c00, #ff8c00, #ff9833, #ffad4b);
    border-image-slice: 1 !important;
    border-radius: 1.5rem !important;
    margin-bottom: 1rem !important;
    box-sizing: border-box !important;
    /* width: 100vw !important; */
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @media (max-width: 768px) {
    .react-pdf__Page__canvas{
      /* height: 100vh; */
      width: 100vw !important;
    }
  }

  .react-pdf__Document{
    width: 100% !important;
    /* border: 2px solid red; */
  }

  .slide-right-arrow {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
  }

  @keyframes slide1 {
    0%,
    100% {
      transform: translate(-5px, 0);
    }

    50% {
      transform: translate(5px, 0);
    }
  }

.red-box:after {
    content: '';
    border-right: 1rem solid green;
    position: absolute;
    right: 0;
}

.not-visited{
  @apply border border-gray-800 bg-gray-200 rounded flex items-center justify-center text-base w-auto aspect-square
}

.answered{
  @apply bg-[url("/trial/answered.svg")] bg-cover bg-no-repeat w-auto aspect-square text-base text-white
}

.not-answered{
  @apply bg-[url("/trial/not-answered.svg")] bg-cover bg-no-repeat w-auto aspect-square text-base text-white
}

.marked{
  @apply bg-marked rounded-full bg-cover bg-no-repeat w-auto aspect-square text-base text-white
}

.marked-answered{
  @apply bg-[url("/trial/marked-answered.svg")] bg-contain bg-no-repeat w-auto aspect-square text-base text-white
}

.focus-question{
  @apply border-2 border-blue-800 text-blue-800 rounded
}